<link rel="stylesheet" href="static/stile.css">

<h1>ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</h1>

<h3>ФАКТЫ:</h3>

<h3>Температура планеты растет: Средняя температура Земли уже поднялась на 1,2 °C с конца 19 века. Хотя это может показаться не таким большим изменением, это оказывает значительное влияние на климат, вызывая экстремальные погодные явления.</h3>

<h3>Таяние льдов: Арктика нагревается в два раза быстрее, чем остальная часть планеты, что приводит к быстрому таянию льдов и повышению уровня океанов. Если лед на Гренландии растает, уровень океана может подняться на 7 метров.</h3>

<h3>Молекулы углекислого газа: Углекислый газ (CO2) в атмосфере удерживает тепло, создавая эффект парника. Сейчас уровень CO2 в атмосфере самый высокий за последние 800 тысяч лет.</h3>

<h3>Океаны поглощают тепло: Океаны играют важную роль в регулировании температуры Земли. Они поглощают примерно 90% избыточного тепла, что помогает замедлить изменения климата, но это также приводит к повышению температуры водоемов, влияя на экосистемы.</h3>

<h3>Мелтинг-пойнт и изменения в экосистемах: Изменения климата влияют на флору и фауну. Многие виды сталкиваются с угрозой исчезновения из-за изменения мест их обитания, например, коралловые рифы, которые страдают от повышения температуры воды и кислотности океанов.</h3>

<h3>Поглощение углерода: Леса и другие экосистемы поглощают углекислый газ из атмосферы, но вырубка лесов и изменение землепользования сокращают эту способность, что усиливает глобальное потепление.</h3>

<h3>Сезонность и экстремальные явления: Из-за изменений климата в некоторых регионах происходит усиление сезонных явлений, таких как засухи, наводнения, ураганы и лесные пожары, которые становятся более частыми и интенсивными.</h3>

<h3>Новые болезни и экосистемные угрозы: Глобальное потепление может способствовать распространению новых болезней. Например, изменения климата могут расширить ареалы комаров, переносящих заболевания, такие как малярия и вирус Зика.</h3>

<img src="static/fish.jpeg" alt="Image 1">

<a href="/stats">статистика</a>

<a href="/map">карта</a>

<h5>глобальное потепление это грустно :(</h5>

<iframe src="https://www.meteoblue.com/en/weather/widget/daily?geoloc=detect&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=1&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/index?utm_source=daily_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
