<link rel="stylesheet" href="static/stile.css">

<h1>статистика в процентах c 1960 до 2025:</h1>
<img src="static/грустный_котик.jpeg" alt="Image 1">

<h2>уровень парниковых газов:</h2>

<h3>уровень углекислого газа(СО2) увеличение на 33%</h3>

<h3>уровень метана(CH4) увеличился на 150%</h3>

<h3>уровень закиси азота(N2O) увеличелся на 20%</h3>

<h2>другое:</h2>

<h3>население земли увеличелось на 167%</h3>

<h3>уровень потребления невти увеличился на 240%</h3>

<h3>уровень потребления природного газа увеличился на 180%</h3>

<h3>уровень потребления угля увеличился на 160%</h3>

<h3>уровень светимости Солнца увеличился примерно на 0,01-0,02%</h3>

<h3>уровень мирового океана увеличелся на 2-3%</h3>

<h2>ну а средняя температура земли увеличелась на 1,1-1,2°C</h2>

<br><a href="/map">карта</a>

<a href="/">главная</a>